<h2 id="title">Power-select a time</h2>

selected: {{this.time}}
<PowerTimePicker
  @minTime="06:00"
  @maxTime="12:00"
  @steps={{5}}
  @selected={{this.time}}
  @onChange={{fn (mut this.time)}}
  as |time|>
  {{time}}
</PowerTimePicker>
<br>
selected will be added to options:
<PowerTimePicker
  @selected="06:03"
  @onChange={{fn (mut this.time)}}
  as |time|>
  {{time}}
</PowerTimePicker>